.wrapper-table-group {
  .ant-table-thead > tr > th {
    background: #ffffff !important;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
  }
  .table-action {
    text-align: left;
    padding-left: 12px;
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    padding: 8px 12px;
  }
  tbody.ant-table-tbody {
    min-width: 900px;
  }
}
